{% extends  'base.html' %}

{% block content %}

<!-- Services Section -->
<section id="services" class="pedicure">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>

    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            {% for service in data %}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <img src="{{ service.image.url }}" class="img-fluid" alt="{{ service.name }}"
                     style="height: 240px; width: 100%;">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-activity"></i>
                    </div>
                    <h3>{{service.name}}</h3>
                    <p>{{service.description}}</p>
                    <a href="{% url 'contact' %}" class="readmore stretched-link">Request Service <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>


            {% endfor %}


        </div>

    </div>

</section><!-- /Services Section -->


{% endblock %}